{% extends 'odyssey/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="parallaxProfile">
</div>

<br>
<br>

<h2 class="headingOrange">Welcome home, <span class="orange">John Doe</span>.</h2>

<div class="container-profile">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h2>Personal Information</h2>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user_info.first_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user_info.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user_info.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Birthday</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{account.birthday}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{account.residentialAddress}}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <h2>Your Tickets</h2>
                        </div>
                        <div class="row">
                            <div class="tickets-container">
                                {% for order in orders %}
                                <div class="ticket">
                                    <div class="ticket-preview">
                                        <h6># of Passengers: {{order.numTickets}}</h6>
                                        <br>
                                        <h2><b>{{order.tourChoice}}</b></h2>
                                    </div>
                                    <div class="ticket-info">
                                        <h4>Departure: {{order.depart_date}}</h4>
                                        <br>
                                        <h6>Thank you for choosing to fly with Odyssey.</h6>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<br>
<br>

{% endblock %}